<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <div class="jumbotron text-center">
            <h4>New York Times </h4> 
            <h5>Mongo Scraper</h5>
        </div>
        <h2 class="text-center">Click to Scrape:</h2>
        <div class="mx-3 d-flex justify-content-center">
            <form>
                <button class="section btn btn-success m-1" id="world">World</button>
                <button class="section btn btn-success m-1" id="us">U.S.</button>
                <button class="section btn btn-success m-1" id="politics">Politics</button>
                <button class="section btn btn-success m-1" id="nyregion">New York</button>
                <button class="section btn btn-success m-1" id="business">Business</button>
                <button class="section btn btn-success m-1" id="technology">Technology</button>
                <button class="section btn btn-success m-1" id="science">Science</button>
                <button class="section btn btn-success m-1" id="sports">Sports</button>
            </form>
        </div>
        <div class="mx-3 d-flex justify-content-center">
            <form>
                <button class="btn btn-info m-1" id="all" >All Scraped Articles</button>
                <button class="btn btn-info m-1" id="saved">Starred articles</button>
            </form>
        </div>

        <% if(typeof data != 'undefined' && data.length > 0){ %>
           <div class="container-fluid">
                <% if(title == "us"){ %>
                    <h1 class="text-center pt-2"> U.S. Articles</h1>
                <%} else if(title == "nyregion"){%>
                    <h1 class="text-center pt-2">New York Region Articles</h1>
                <% } else { %>
                    <h1 class="text-center pt-2"><span class="capitalize"><%=title%></span> Articles</h1>
                <% } %>
            <% data.forEach(function(element){ %>
                <div class="card m-3 py-3">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-3">
                            <img src="<%=element.image%>" class="imageSize">
                        </div>
                        <div class="col-sm-8 px-4">
                            <div class="row d-flex justify-content-between border-bottom border-info pb-2 m-0">
                                <div class="col-sm-10 m-0 p-0">
                                    <h3><%=element.title%></h3>
                                </div>
                                <div class="col-sm-1  m-0 p-0 ml-2">
                                    <form action="">
                                        <% if(element.starred){ %>
                                            <i class="fas fa-star fa-2x star selected" id="<%=element._id%>"></i>
                                        <% } else { %>
                                            <i class="far fa-star fa-2x star" id="<%=element._id%>"></i>
                                        <% } %>
                                    </form>
                                    
                                </div>
                            </div>
                            <p class="pt-2"><%=element.summary%></p>
                            <p><%=element.author%> <span class="pl-2 border-left border-info"><%=element.date%></span></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="<%=element.link%>">Read Full Article</a>
                                <% if(title == "Starred"){%>
                                    <button type="button" class="btn btn-info m-1 notes" id="<%=element._id%>" data-toggle="modal" data-target="#notesModal">Article Notes</button>
                                <%}%>
                            </div>
                            <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h6 class="modal-title" id="<%=element.title%>">Notes for Article: <br> <%=element.title%></h6>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <% if(typeof element.notes != 'undefined' && element.notes.length > 0){ %>
                                            <% element.notes.forEach(function(note){ %>
                                                <div class="card m-3 p-3 d-flex flex-row justify-content-between">
                                                    <p><%=note%></p>
                                                    <span><button class="deleteNote" id="<%=element._id%>" data-note="<%=note%>">X</button></span>
                                                </div>
                                            <% }) %>

                                        <%} else{ %>
                                            <div class="card m-3 py-3 text-center">
                                                <p>No notes for this article yet.</p>
                                            </div>
                                        <% } %>
                                        <textarea class="newNote" rows="5" cols="50" name="notes"></textarea>

                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-info saveNote" id="<%=element._id%>">Save Note</button>
                                    </div>
                                  </div>
                                </div>
                            </div>

                        </div>  
                    </div>
                </div>

            <% }) %>
            </div>

        <%} else if(title == "Starred") {%>
            <div class="container text-center mt-4 pt-3 border-top">
                <h3>Looks like you haven't Starred Any Articles.</h3>
                <h3>Click on an Article's Star: <i class="far fa-star"></i> to Save the Article to this Page.</h3>
            </div>

        <%} else {%>
            <div class=" container text-center mt-4 pt-3 border-top">
                <h3>Looks Like There are No New Articles. Click A Green Button Above To Find New Articles.</h3>
            </div>
        <%} %>
        <div class="to-top">
            <a class="btn btn-primary mb-3" href="javascript:window.location.href=window.location.href">Top</a>
        </div>
	</main>

       
    <% include ../partials/script %>
</body>
</html>