<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <div class="jumbotron text-center">
            <h1>New York Times Top Stories</h1>
            <h1>Mongo Scraper</h1>
        </div>
        <div class="mx-3 d-flex justify-content-center">
            <form>
                <!-- <button class="section" id="top">Top Stories</button> -->
                <button class="section" id="world">World</button>
                <button class="section" id="us">U.S.</button>
                <button class="section" id="politics">Politics</button>
                <button class="section" id="nyregion">New York</button>
                <button class="section" id="business">Business</button>
                <button class="section" id="technology">Technology</button>
                <button class="section" id="science">Science</button>
                <button class="section" id="sports">Sports</button>
                <!-- <button class="section" id="random">Suprise Me!</button> -->
            </form>
        
        </div>

        <% if(typeof data != 'undefined'){ %>
           <div class="container-fluid">
            <% data.forEach(function(element){ %>
                <div class="card mx-3 p-3 my-3">
                    <div class="d-flex">
                        <div class="col-3">
                            <img src="<%=element.image%>" class="imageSize">
                        </div>
                        <div class="col-9">
                            <h2><%=element.title%></h2>
                            <p><%=element.summary%></p>
                            <p><%=element.author%></p>
                            <a href="<%=element.link%>">Read Full Article</a>
                        </div>  
                    </div>
                </div>

            <% }) %>
            </div>
        <%} else {%>
            <div class="text-center">
                <h2>Looks Like There are No New Articles. Click A Button Above To Find New Articles.</h2>
            </div>
        <%} %>
	</main>

       
    <% include ../partials/script %>
</body>
</html>