<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

	<header>
		<% include ../partials/header %>
	</header>

	<main>
        <div class="jumbotron text-center">
            <h1>New York Times Top Stories</h1>
            <h1>Mongo Scraper</h1>
        </div>
        <div class="mx-3 d-flex justify-content-center">
            <form>
                <!-- <button class="section" id="top">Top Stories</button> -->
                <button class="section btn btn-success m-1" id="world">World</button>
                <button class="section btn btn-success m-1" id="us">U.S.</button>
                <button class="section btn btn-success m-1" id="politics">Politics</button>
                <button class="section btn btn-success m-1" id="nyregion">New York</button>
                <button class="section btn btn-success m-1" id="business">Business</button>
                <button class="section btn btn-success m-1" id="technology">Technology</button>
                <button class="section btn btn-success m-1" id="science">Science</button>
                <button class="section btn btn-success m-1" id="sports">Sports</button>
                <!-- <button class="section" id="random">Suprise Me!</button> -->
            </form>

            <form>
                <button class="btn btn-danger m-1">Saved articles</button>
            </form>
        
        </div>

        <% if(typeof data != 'undefined'){ %>
           <div class="container-fluid">
            <% data.forEach(function(element){ %>
                <div class="card m-3 py-3">
                    <div class="row d-flex justify-content-center">
                        <div class="col-sm-3 pr-4">
                            <img src="<%=element.image%>" class="imageSize">
                        </div>
                        <div class="col-sm-8">
                            <h2 class="border-bottom border-info pb-3"><%=element.title%></h2>
                            <p><%=element.summary%></p>
                            <p><%=element.author%> <span class=" ml-2 pl-2 border-left border-info"><%=element.date%></span></p>
                            <a href="<%=element.link%>">Read Full Article</a>
                        </div>  
                    </div>
                </div>

            <% }) %>
            </div>
        <%} else {%>
            <div class="text-center">
                <h2>Looks Like There are No New Articles. Click A Button Above To Find New Articles.</h2>
            </div>
        <%} %>
        <div class="text-center">
            <a class="btn btn-primary mb-3" href="javascript:window.location.href=window.location.href">To Top</a>
        </div>
	</main>

       
    <% include ../partials/script %>
</body>
</html>